.jumbotron {
  background-color: white;
  padding: 1px;
}

#logo{
  width: 100px;
  height: 100px;
}

body {
  background-color: grey;
}

.body {
  background-color: white;
}

img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#headline {
  text-align: center;
  padding: 1px;
}

h2{
    text-align: center;
}

a {
  color: grey;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: cyan;
}
