<div class="container">
  <h2 id="admin">welcome, admin</h2>
  {{story-detail story=model}}

  {{update-story story=model update="update"}}

  {{delete-story story=model destroyStory="destroyStory"}}

  <h2>{{#link-to 'index'}}Home{{/link-to}}</h2>
</div>
