<div class="jumbotron">
  <img id="sponsor" src=http://houstonlifestyles.com/wp-content/uploads/2013/08/sponsored-by-rug-mart-e1378046963735.jpg>
  <img id="logo" src=https://static1.squarespace.com/static/534edd43e4b028029a004580/54d02e4ce4b07f8719d853b5/59380ed6414fb5f6498ece1e/1496855582253/Bustle-logo.png>
  <img id="facebook" src=http://www.iconsdb.com/icons/preview/dark-gray/facebook-3-xxl.png>
  <img id="twitter" src=http://www.iconsdb.com/icons/preview/gray/twitter-xxl.png>
  <img id="pinterest" src=http://www.hairrestore23.com/v/vspfiles/assets/images/pinteresthr23.png>
  <img id="instagram" src=https://www.shareicon.net/download/2016/07/09/118293_instagram_512x512.png>
</div>
<div class="container">
  <div class="body">

    {{outlet}}
  </div>
</div>
<hr>
<h2 id="footer">{{#link-to 'index'}}Main{{/link-to}} || {{#link-to 'admin'}}Admin{{/link-to}} || {{#link-to 'contact'}}Contact{{/link-to}}</h2>
