<h1>BUSTLE</h1>

<ul class="list-unstyled">
  {{#each model as |story|}}
    <h2>{{#link-to 'story' story.id}}{{story.headline}}{{/link-to}}</h2>
      <ul class="list-unstyled">
        <p><img src={{story.photo}}></p>
        <p>By: {{story.author}}</p>
      </ul>
  {{/each}}

  {{new-story saveStory="saveStory"}}
</ul>
