<div class="container">

  {{story-detail story=model}}

  <!-- {{update-story story=model update="update"}}

  {{delete-story story=model destroyStory="destroyStory"}} -->

  <h2>{{#link-to 'index'}}Home{{/link-to}}</h2>
</div>
